
<p class="One">One User<button class="btn btn-primary" (onClick)="one()">Details</button></p>
<div>
    <!-- <p>{{user1.id}} <br>
     {{user1.firstName}} <br>
     {{user1.lastName}}</p> -->
  </div>
<p class="two">Two User<button class="btn btn-primary" (click)="two()">Details</button></p>
<div>
    <p>{{user2.id}} <br>{{user2.firstName}} <br>{{user2.lastName}}</p>
  </div>
<p class="three">Three User<button class="btn btn-primary" (click)="three()">Details</button></p>
<div>
    <p>{{user3.id}} <br>{{user3.firstName}} <br>{{user3.lastName}}</p>
  </div>
<p class="four">Four User<button class="btn btn-primary" (click)="four()">Details</button></p>
<div>
    <p>{{user4.id}} <br>{{user4.firstName}} <br>{{user4.lastName}}</p>
  </div>
<p class="five">Five User<button class="btn btn-primary" (click)="five()">Details</button></p>
<div>
    <p>{{user5.id}} <br>{{user5.firstName}} <br>{{user5.lastName}}</p>
  </div>