 <!-- I don't  know exactly in github -->

<h1 class="title">welcome to {{title}}</h1>
<div>
  <ul class="nav ">
      <li><a href="" routerLink="">Home</a></li>
      <li><a href="" routerLink="user">Ativated</a></li>
      <li><a href="" routerLink="userlist">Deleted</a></li>
      <li><a href="" routerLink="userdetails">Manage</a></li>

  </ul>
<hr>
<div>
    <div class="jumbotron">
        <h1 class="display-4">Users Management</h1>
        <p class="lead">Welcome to Users Management Systems</p>
        
      </div>
</div>

</div>

<router-outlet></router-outlet>
