<div>
    <p class="firstUser active">One User<sub class="sub"><button class="btn btn-primary">Deactive</button></sub></p>
    
    <p class="thirdUser active">Third User<sub class="sub"><button class="btn btn-primary">Deactive</button></sub></p>
    <p class="fourthUser active">Fourth User<sub class="sub"><button class="btn btn-primary">Deactive</button></sub></p>
    <p class="fifthUser active">Fifth User<sub class="sub"><button class="btn btn-primary">Deactive</button></sub></p>
    
    <p class="eightUser active">Eight User<sub class="sub"><button class="btn btn-primary">Deactive</button></sub></p>
    
</div>

